/* ALERTS */
.shapla-alert {
	display: block;
	margin: 1em 0;
	padding: 20px 15px;

	@each $alert, $color in $alert-map {
		&--#{$alert} {
			background: #{$color};
			color: findColorInvert($color);
		}
	}
}