/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
.row:after, .row:before {
  display: table;
  content: " "; }
.row:after {
  clear: both; }

#scrollUp {
  bottom: 10px;
  right: 10px;
  height: 50px;
  width: 50px;
  background: url("../img/back-top.png") no-repeat 0 0;
  opacity: 0.4;
  outline: none; }
  #scrollUp:hover {
    opacity: 1; }

/* Shapla Slide*/
.post-thumbnail {
  position: relative; }

.shapla-slides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0; }
  .shapla-slides li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0; }
    .shapla-slides li:first-child {
      position: relative;
      display: block;
      float: left; }
  .shapla-slides img {
    display: block;
    height: auto;
    float: left;
    width: 100%;
    border: 0; }

.shapla-slides_nav {
  z-index: 3;
  position: absolute;
  -webkit-tap-highlight-color: transparent;
  top: 0;
  left: 0;
  display: block;
  background: #FFF;
  opacity: 0;
  filter: alpha(opacity=1);
  width: 48%;
  text-indent: -9999px;
  overflow: hidden;
  height: 91%; }
  .shapla-slides_nav.prev {
    cursor: w-resize; }
  .shapla-slides_nav.next {
    left: auto;
    right: 0;
    cursor: e-resize; }

.shapla-slides_tabs {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 400px;
  max-width: 100%;
  z-index: 1000; }
  .shapla-slides_tabs li {
    display: inline-block;
    margin-right: 5px; }
  .shapla-slides_tabs a {
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 30px;
    background: 0 0;
    border: 2px solid #fff;
    font-size: 0; }
  .shapla-slides_tabs .shapla-slides_here a {
    background: #fff; }

/* Shapla feature*/
.shapla-features {
  margin-top: 40px;
  margin-bottom: 35px; }
  .shapla-features .feature {
    padding-left: 15px;
    padding-right: 15px; }
  .shapla-features .icon {
    text-align: center;
    font-size: 50px;
    margin-bottom: 20px; }
  .shapla-features img {
    width: 50px;
    height: auto;
    display: block;
    margin: 0 auto; }
  .shapla-features h4.feature_title {
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
    font-size: 20px; }

/* Testimonial Slider*/
.shapla-testimonial {
  position: relative;
  margin-top: 20px; }
  .shapla-testimonial .client-pic {
    width: 64px;
    height: 64px;
    margin: auto;
    position: relative;
    margin-bottom: -24px;
    z-index: 999;
    border: 3px solid #ffffff;
    box-shadow: 0px 0px 0px 3px #f7f8fa; }
  .shapla-testimonial .client-pic img {
    max-width: 100%; }
  .shapla-testimonial .box {
    margin-right: 15px;
    margin-left: 15px;
    border-radius: 3px;
    position: relative;
    background: #f7f8fa;
    padding-top: 20px;
    -webkit-box-shadow: 0px 1px 0px 0px rgba(229, 229, 229, 0.75);
    -moz-box-shadow: 0px 1px 0px 0px rgba(229, 229, 229, 0.75);
    box-shadow: 0px 1px 0px 0px rgba(229, 229, 229, 0.75); }
    .shapla-testimonial .box .message {
      padding: 25px;
      font-style: italic; }
    .shapla-testimonial .box:after, .shapla-testimonial .box:before {
      top: 100%;
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none; }
    .shapla-testimonial .box:after {
      border-color: rgba(247, 248, 250, 0);
      border-top-color: #f7f8fa;
      border-width: 15px;
      margin-left: -15px; }
    .shapla-testimonial .box:before {
      border-color: rgba(229, 229, 229, 0);
      border-top-color: #e5e5e5;
      border-width: 16px;
      margin-left: -16px; }
  .shapla-testimonial .client-info {
    margin-top: 30px;
    text-align: center; }
    .shapla-testimonial .client-info .client-name {
      line-height: 20px; }
    .shapla-testimonial .client-info .company {
      font-size: 13px; }

/* Team Slider*/
.shapla-team {
  position: relative;
  margin-top: 20px; }
  .shapla-team .team-pic {
    max-width: 150px;
    height: auto;
    margin: auto;
    position: relative;
    margin-bottom: -24px;
    z-index: 10;
    border: 3px solid #ffffff;
    box-shadow: 0px 0px 0px 3px #f7f8fa; }
    .shapla-team .team-pic img {
      max-width: 100%; }
  .shapla-team .box {
    margin-right: 15px;
    margin-left: 15px;
    border-radius: 3px;
    position: relative;
    background: #f7f8fa;
    padding-top: 20px;
    -webkit-box-shadow: 0px 1px 0px 0px rgba(229, 229, 229, 0.75);
    -moz-box-shadow: 0px 1px 0px 0px rgba(229, 229, 229, 0.75);
    box-shadow: 0px 1px 0px 0px rgba(229, 229, 229, 0.75); }
    .shapla-team .box .message {
      padding: 25px;
      font-style: italic; }
  .shapla-team .team-info {
    margin-top: 30px;
    text-align: center; }
    .shapla-team .team-info .team-name {
      line-height: 20px; }
    .shapla-team .team-info .company {
      font-size: 13px; }

/*Portfolio*/
.portfolio_col_2 {
  width: 50%;
  display: inline-block;
  float: left; }

.portfolio_col_3 {
  width: 33.33333%;
  display: inline-block;
  float: left; }

.portfolio_col_4 {
  width: 25%;
  display: inline-block;
  float: left; }

.portfolio_col_5 {
  width: 20%;
  display: inline-block;
  float: left; }

.portfolio_col_6 {
  width: 16.66667%;
  display: inline-block;
  float: left; }

@media only screen and (max-width: 767px) {
  .portfolio_col_2,
  .portfolio_col_3,
  .portfolio_col_4,
  .portfolio_col_5,
  .portfolio_col_6 {
    width: 100%; } }
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .portfolio_col_2,
  .portfolio_col_3,
  .portfolio_col_4,
  .portfolio_col_5,
  .portfolio_col_6 {
    width: 50%; } }
#shaplatools-portfolio .filter ul {
  display: table;
  padding-left: 0;
  margin: 20px auto;
  border-radius: 4px; }
  #shaplatools-portfolio .filter ul li {
    display: inline; }
    #shaplatools-portfolio .filter ul li a,
    #shaplatools-portfolio .filter ul li span {
      position: relative;
      float: left;
      padding: 6px 12px;
      margin-left: -1px;
      line-height: 1.42857143;
      color: #337ab7;
      text-decoration: none;
      background-color: #fff;
      border: 1px solid #ddd; }
      #shaplatools-portfolio .filter ul li a:hover, #shaplatools-portfolio .filter ul li a:focus,
      #shaplatools-portfolio .filter ul li span:hover,
      #shaplatools-portfolio .filter ul li span:focus {
        color: #23527c;
        background-color: #eee;
        border-color: #ddd; }
    #shaplatools-portfolio .filter ul li a.active, #shaplatools-portfolio .filter ul li a.active:hover, #shaplatools-portfolio .filter ul li a.active:focus {
      z-index: 2;
      color: #fff;
      cursor: default;
      background-color: #337ab7;
      border-color: #337ab7; }
    #shaplatools-portfolio .filter ul li:first-child a, #shaplatools-portfolio .filter ul li:first-child span {
      margin-left: 0;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px; }
    #shaplatools-portfolio .filter ul li:last-child a, #shaplatools-portfolio .filter ul li:last-child span {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px; }
#shaplatools-portfolio .grid {
  clear: both;
  position: relative; }
  #shaplatools-portfolio .grid .item {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0; }
#shaplatools-portfolio .portfolio-f-image {
  position: relative; }
  #shaplatools-portfolio .portfolio-f-image img {
    height: auto;
    max-width: 100%;
    width: 100%; }
#shaplatools-portfolio .portfolio-hover {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  overflow: hidden;
  border: 1px solid #ddd; }
  #shaplatools-portfolio .portfolio-hover:after {
    background: none repeat scroll 0 0 #000;
    content: "";
    height: 100%;
    left: -100%;
    opacity: .6;
    position: absolute;
    top: 0;
    width: 100%;
    transition: .4s; }
  #shaplatools-portfolio .portfolio-hover a {
    border-radius: 5px;
    color: #fff;
    display: block;
    font-size: 16px;
    left: 10%;
    margin: 0;
    padding: 10px 0;
    position: absolute;
    text-align: center;
    border: 1px solid #337AB7;
    width: 80%;
    z-index: 99;
    transition: .4s; }
    #shaplatools-portfolio .portfolio-hover a:hover {
      text-decoration: none;
      border-color: #444;
      color: #fff; }
    #shaplatools-portfolio .portfolio-hover a.portfolio-title-link {
      top: -25%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      border: none;
      font-size: 25px;
      line-height: 30px;
      cursor: default;
      pointer-events: none; }
    #shaplatools-portfolio .portfolio-hover a.view-details-link {
      background: none repeat scroll 0 0 #337AB7;
      bottom: -25%; }
#shaplatools-portfolio .single-portfolio-item {
  padding: 10px;
  overflow: hidden; }
  #shaplatools-portfolio .single-portfolio-item:hover .portfolio-hover:after {
    left: 0; }
  #shaplatools-portfolio .single-portfolio-item:hover .portfolio-hover a.portfolio-title-link {
    top: 32%; }
  #shaplatools-portfolio .single-portfolio-item:hover .portfolio-hover a.view-details-link {
    bottom: 32%; }

/*# sourceMappingURL=shaplatools.css.map */
