.spic-gallery-thumbs li {
  display: inline-block;
  float: left;
  width: 9%;
  padding-right: 1%; }
.spic-gallery-thumbs img.attachment-thumbnail {
  max-width: 100%;
  height: auto; }

.spic-box-images p {
  display: block;
  clear: both; }

.shapla-gallery-thumbs {
  margin-top: 20px;
  clear: left; }
  .shapla-gallery-thumbs li {
    float: left;
    margin-right: 10px; }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .spic-gallery-thumbs > li {
    width: 9%; } }
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .spic-gallery-thumbs > li {
    width: 19%; } }
@media only screen and (max-width: 479px) {
  .spic-gallery-thumbs > li {
    width: 19%; } }
/* Meta Box Styles*/
.shapla-metabox-table {
  border-collapse: collapse;
  width: 100%; }
  .shapla-metabox-table tr {
    border-top: 1px solid #ececec; }
  .shapla-metabox-table th {
    text-align: left;
    width: 40%;
    padding: 10px 0;
    vertical-align: top; }
  .shapla-metabox-table td {
    padding: 8px 10px; }
  .shapla-metabox-table label {
    text-shadow: white 0 1px 0; }
  .shapla-metabox-table label span {
    display: block;
    font-weight: normal;
    color: #999;
    margin: 3px 0 0 0; }
  .shapla-metabox-table label.radio-label {
    margin-right: 10px; }
  .shapla-metabox-table input[type="text"],
  .shapla-metabox-table textarea {
    width: 100%; }
  .shapla-metabox-table .file {
    width: 86.45% !important; }
  .shapla-metabox-table .wp-color-picker {
    width: 80px !important; }

.ui-datepicker {
  width: 17em;
  padding: .2em .2em 0;
  display: none;
  border: 1px solid #aaaaaa;
  background: #ffffff 50% 50% repeat-x;
  color: #222222; }
  .ui-datepicker a {
    color: #222222; }
    .ui-datepicker a:hover {
      color: #212121; }
  .ui-datepicker .ui-datepicker-header {
    position: relative;
    padding: .2em 0;
    border: 1px solid #aaaaaa;
    background: #cccccc 50% 50% repeat-x;
    color: #222222;
    font-weight: bold; }
  .ui-datepicker .ui-datepicker-prev,
  .ui-datepicker .ui-datepicker-next {
    position: absolute;
    top: 2px;
    width: 1.8em;
    height: 1.8em; }
    .ui-datepicker .ui-datepicker-prev span,
    .ui-datepicker .ui-datepicker-next span {
      display: block;
      position: absolute;
      left: 50%;
      margin-left: -8px;
      top: 50%;
      margin-top: -8px; }
    .ui-datepicker .ui-datepicker-prev:hover,
    .ui-datepicker .ui-datepicker-next:hover {
      cursor: pointer; }
  .ui-datepicker .ui-datepicker-prev {
    left: 2px; }
  .ui-datepicker .ui-datepicker-next {
    right: 15px; }
  .ui-datepicker .ui-datepicker-title {
    margin: 0 2.3em;
    line-height: 1.8em;
    text-align: center; }
    .ui-datepicker .ui-datepicker-title select {
      font-size: 1em;
      margin: 1px 0; }
  .ui-datepicker table {
    width: 100%;
    font-size: .9em;
    border-collapse: collapse;
    margin: 0 0 0.4em; }
  .ui-datepicker th {
    padding: .7em .3em;
    text-align: center;
    font-weight: bold;
    border: 0; }
  .ui-datepicker td {
    border: 0;
    padding: 1px; }
  .ui-datepicker td span,
  .ui-datepicker td a {
    display: block;
    padding: .2em;
    text-align: right;
    text-decoration: none; }
    .ui-datepicker td span:hover,
    .ui-datepicker td a:hover {
      background: #cccccc;
      color: #222222; }

.shapla-box-file .file {
  width: 77% !important; }

#side-sortables .shapla-metabox-table input[type="text"],
#side-sortables .shapla-metabox-table textarea {
  width: 100%; }
#side-sortables .shapla-metabox-table th {
  width: 96%;
  display: block;
  padding-left: 0;
  padding-right: 0; }
#side-sortables .shapla-metabox-table td {
  width: 96%;
  display: block;
  padding-left: 0;
  padding-right: 0;
  border-bottom: none; }

/* Widget Styles*/
div[id*="_shapla"] .widget-top {
  background: #C8E5F3 !important;
  border-color: #B4D0DD !important;
  box-shadow: inset 0 1px 0 white !important;
  -webkit-box-shadow: inset 0 1px 0 white !important;
  -moz-box-shadow: inset 0 1px 0 white !important;
  -ms-box-shadow: inset 0 1px 0 white !important;
  -o-box-shadow: inset 0 1px 0 white !important;
  background: -moz-linear-gradient(top, #EAF8FF 0%, #C8E5F3 100%) !important;
  background: -webkit-linear-gradient(top, #EAF8FF 0%, #C8E5F3 100%) !important;
  background: linear-gradient(to bottom, #EAF8FF 0%, #C8E5F3 100%) !important;
  border-bottom: 1px solid #98B3C0 !important;
  margin-top: 0px; }

/*# sourceMappingURL=shaplatools-admin.css.map */
