.widget_shapla_flickr {
	.shapla-flickr-row {
		margin-left: -5px;
		margin-right: -5px;

		&:before,
		&:after {
			display: table;
			content: "";
		}

		&:after {
			clear: both;
		}
	}
	.shapla-flickr-col {
		padding: 0 5px 10px;
		float: left;
		width: 33.333333%;

		a {
			display: block;
		}

		img {
			height: auto;
			max-width: 100%;
			width: 100%;
		}
	}
}