.widget_shapla_tweets {
    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;

        li {
            padding: 1em 0;

            &:before {
                @include fa-icon('\f099', 'brands');
                margin-right: 0.5em;
            }

            a {
                display: inline;
            }

            span {
                display: block;
                opacity: 0.65;
                margin-top: 0.5em;
            }
        }
    }

    .twitter-follow-button {
        display: block;
        margin: 1em 0 0;
    }
}