/*Portfolio*/
.shapla-portfolio {
	&-terms {
		margin-left: -10px;
		margin-right: -10px;
		padding: 0 10px;

		ul {
		    display: table;
		    margin: 0 auto 20px;
			padding: 0;
			list-style: none;

			li {
				float: left;
				display: inline;
				margin-right: 5px;

				&:last-child {
					margin-right: 0;
				}

				a {
					padding: 6px 15px;
					display: block;
					border: 1px solid #333;
					background-color: #fff;
					color: #333;
					line-height: 1;

					&.active,
					&:hover,
					&:focus {
						background-color: #ddd;
						color: #333;
						outline: none;
					}
				}
			}
		}
	}

	&-items {
		margin-left: -10px;
		margin-right: -10px;

		.item { 
			padding: 0 10px;
		}

		.single-portfolio-item {
			overflow: hidden;
			margin-bottom: 20px;

			&:hover .portfolio-hover{
				&:after{left: 0;}
				a {
					&.portfolio-title-link { top: 32% }
					&.view-details-link { bottom: 32% }
				}
			}
		}
		.portfolio-f-image {
			position: relative;

			img {
				height: auto;
				max-width: 100%;
				width: 100%;
			}
		}

		.portfolio-hover {
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
			overflow: hidden;
			border: 1px solid #ddd;

			&:after {
				background: none repeat scroll 0 0 #000;
				content: "";
				height: 100%;
				left: -100%;
				opacity: .6;
				position: absolute;
				top: 0;
				width: 100%;
				transition: .4s;
			}

			a {
				color: #fff;
				display: block;
				left: 10%;
				margin: 0;
				padding: 10px 0;
				position: absolute;
				text-align: center;
				width: 80%;
				z-index: 99;
				transition: .4s;
				&:hover {
					text-decoration: none;
					color: #fff;
				}
				&.portfolio-title-link {
					top: -25%;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					border: none;
					font-size: 25px;
					line-height: 30px;
					cursor: default;
					pointer-events: none;
				}
				&.view-details-link {
					background: none repeat scroll 0 0 #337AB7;
					bottom: -25%;
				}
			}
		}
	}
}