.shaplatools-metabox-table {
    border-collapse: collapse;
    width: 100%;

    tr {
        border-top: 1px solid #ececec;

        &:first-child {
            border-top: none;
        }
    }

    th {
        text-align: left;
        width: 100%;
        padding: 8px 10px;
        vertical-align: top;

        label {
            text-shadow: white 0 1px 0;

            strong {
                font-weight: 500;
                color: #444;
            }

            span {
                display: block;
                font-size: 12px;
                font-weight: normal;
                color: #999;
                margin: 8px 0 0 0;
            }
        }
    }

    td {
        padding: 8px 10px;
    }

    @media screen and (min-width: 783px) {
        th {
            width: 40%;
            padding: 8px 0;
        }
    }
}

#side-sortables {
    .shaplatools-metabox-table {
        th, td {
            width: 100%;
            display: block;
            padding-left: 0;
            padding-right: 0;
        }
        td {
            border-bottom: none;
        }
    }
}