$color--blue: #1b93c7;
$color--green: #84c333;
$color--red: #d15858;
$color--yellow: #ffd164;
$color--orange: #fc901d;
$color--purple: #c16ad7;
$color--grey: #979797;
$color--white: #f5f5f5;

$alert-map: (
		"white": $color--grey,
		"grey": $color--grey,
		"gray": $color--grey,
		"red": $color--red,
		"yellow": $color--yellow,
		"green": $color--green,
		"blue": $color--blue,
);

$button-map: (
		"grey": $color--grey,
		"red": $color--red,
		"orange": $color--orange,
		"green": $color--green,
		"purple": $color--purple,
		"blue": $color--blue,
		"light-blue": #56c3f2,
		"dark": #323232,
		"black": #000,
		"white": #fff,
);

// Accent Color
$accent: #323232;